<div class="flex flex-col justify-center text-white text-center relative">
    <div class="w-7 h-7 absolute -right-2 -top-2 text-gray-700 cursor-pointer" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </div>
    <div class="my-10 animate-pulse">
        <mat-icon class="text-green-400 scale-[400%]">check_circle_outline</mat-icon>
        <!-- <mat-icon class="text-red-400 scale-[400%] rotate-45">add_circle_outline</mat-icon> -->
    </div>
    <!-- <div class="pt-6">
        <p class="font-bold text-2xl">Anúncio publicado <br/> com sucesso!</p>
    </div> -->
    <div class="pt-6">
        <p class="font-black text-2xl">Let's play</p>
        <p class="font-light">Agora é só começar a jogar!</p>
    </div>
    <div class="w-full pt-8">
        <p class="font-semibold pb-2">Adcione no Discord</p>
        <p class="w-full p-3 bg-[#121214] rounded-lg relative">{{data.discord}} <fa-icon [icon]="faClipboard" class="absolute right-5 cursor-pointer" (click)="copyDiscord()"></fa-icon> </p>
    </div>
</div>
