<div class="bg-[#2A2634] p-8 rounded-lg shadow-2xl shadow-black">
    <div class="grid grid-cols-2">
        <div>
            <div class="pb-7">
                <p class="pb-1">Nome</p>
                <p class="font-black">Diego Fernandes</p>
            </div>
            <div class="pb-7">
                <p class="pb-1">Tempo de jogo</p>
                <p class="font-black">2 anos</p>
            </div>
        </div>
        <div *ngIf="api$ | async as api ; else loading" class="p-2 ">
            <!-- Elos Valorant -->
            <div class="text-center flex justify-center items-center flex-col" *ngIf="idaux == '12'">
                <p class="font-semibold text-[#E1D55D]">{{ arrEloVal[elo].name }}</p>
                <img class="w-24 m-2" src="{{ arrEloVal[elo].urlImage }}" alt="">
            </div>
            <!-- Elos LOL -->
            <div class="text-center flex justify-center items-center flex-col" *ngIf="idaux == '8'">
                <p class="font-semibold text-[#E1D55D]">{{ arrEloLol[elo].name }}</p>
                <img class="w-24 m-2" src="{{ arrEloLol[elo].urlImage }}" alt="">
            </div>
            <!-- Elos CS -->
            <div class="text-center flex justify-center items-center flex-col" *ngIf="idaux == '4'">
                <p class="font-semibold text-[#E1D55D]">{{ arrEloCS[elo].name }}</p>
                <img class="w-24 m-2" src="{{ arrEloCS[elo].urlImage }}" alt="">
            </div>
            <!-- Elos APEX -->
            <div class="text-center flex justify-center items-center flex-col" *ngIf="idaux == '3'">
                <p class="font-semibold text-[#E1D55D]">{{ arrEloApex[elo].name }}</p>
                <img class="w-24 m-2" src="{{ arrEloApex[elo].urlImage }}" alt="">
            </div>
        </div>
        <ng-template #loading>
            <div>
                <app-loading></app-loading>
            </div>
        </ng-template>
    </div>
    <div class="flex">
        <div class="w-1/2 pb-7">
            <p class="pb-1">Disponibilidade</p>
            <p class="font-black">18h - 20h</p>
        </div>
        <div class="w-1/2 pb-7">
            <p class="pb-1">Chamada de áudio?</p>
            <p  class="font-black"
                [ngClass]="{'text-green-400': (voice.innerText == 'Sim'), 'text-red-400': (voice.innerText == 'Não')}"
                #voice>
                Sim
            </p>
        </div>
    </div>
    <div class="w-full flex justify-center pb-7">
        <div class="flex gap-0.5 font-bold">
            <div class="cursor-pointer relative">
                <label for="check-1">
                    <input  type="checkbox" 
                            id="check-1" 
                            class="appearance-none checked:bg-violet-500 bg-zinc-900 w-12 h-12 p-0  rounded-md"
                            name="week1"
                            ngModel/>
                    <p class="absolute left-4 top-3">D</p>
                </label>
            </div>
            <div class="cursor-pointer relative">
                <label for="check-2">
                    <input  type="checkbox" 
                            id="check-2" 
                            class="appearance-none checked:bg-violet-500 bg-zinc-900 w-12 h-12 p-0  rounded-md"
                            name="week2"
                            ngModel/>
                    <p class="absolute left-4 top-3">S</p>
                </label>
            </div>
            <div class="cursor-pointer relative">
                <label for="check-3">
                    <input  type="checkbox" 
                            id="check-3" 
                            class="appearance-none checked:bg-violet-500 bg-zinc-900 2w-12 h-12 p-0  rounded-md"
                            name="week3"
                            ngModel/>
                    <p class="absolute left-4 top-3">T</p>
                </label>
            </div>
            <div class="cursor-pointer relative">
                <label for="check-4">
                    <input  type="checkbox" 
                            id="check-4" 
                            class="appearance-none checked:bg-violet-500 bg-zinc-900 w-12 h-12 p-0  rounded-md"
                            name="week4"
                            ngModel/>
                    <p class="absolute left-4 top-3">Q</p>
                </label>
            </div>
            <div class="cursor-pointer relative">
                <label for="check-5">
                    <input  type="checkbox" 
                            id="check-5" 
                            class="appearance-none checked:bg-violet-500 bg-zinc-900 w-12 h-12 p-0  rounded-md"
                            name="week5"
                            ngModel/>
                    <p class="absolute left-4 top-3">Q</p>
                </label>
            </div>
            <div class="cursor-pointer relative">
                <label for="check-6">
                    <input  type="checkbox" 
                            id="check-6" 
                            class="appearance-none checked:bg-violet-500 bg-zinc-900 w-12 h-12 p-0  rounded-md"
                            name="week6"
                            ngModel/>
                    <p class="absolute left-4 top-3">S</p>
                </label>
            </div>
            <div class="cursor-pointer relative">
                <label for="check-7">
                    <input  type="checkbox" 
                            id="check-7" 
                            class="appearance-none checked:bg-violet-500 bg-zinc-900 w-12 h-12 p-0  rounded-md"
                            name="week7"
                            ngModel/>
                    <p class="absolute left-4 top-3">S</p>
                </label>
            </div>
        </div>
    </div>
    <button class="w-full justify-center flex bg-violet-500 hover:bg-violet-700  p-3 px-5 rounded-md lg:gap-3 gap-1 items-center duration-300"
            (click)="getDuo()">
        <img class="lg:w-5 w-3" src="./assets/images/game-controller.svg" alt=""> 
        Conectar
    </button>
</div>