
<div class="flex flex-col-reverse lg:flex-row justify-center lg:justify-between items-center w-5/6 mx-auto">
    <div class="lg:h-40 pt-5 lg:pt-0 flex flex-col lg:flex-row items-center lg:text-4xl text-2xl justify-center">
        <p class="font-black">Alisson Antunes</p>
    </div>
    <div  class="rounded-full nlw-grad w-32 h-32 flex justify-center items-center lg:mt-8 mt-7 mr-3">
            <div class="bg-[#2A2634] rounded-full w-28 h-28 overflow-hidden absolute">
                <img    src="./assets/images/1661454204428.jfif" 
                        alt="">
            </div>
            <span class="relative w-8 h-8 rounded-full bg-violet-500 -right-12 top-12 cursor-pointer hover:scale-110 p-1 shadow-sm shadow-black">
                <fa-icon class="text-purple-800 p-1" [icon]="faPen"></fa-icon>
            </span>
    </div>
</div>
<div class="flex mt-8 rounded-xl nlw-grad pt-1 w-5/6 mx-auto relative">
    <div class="w-full flex-col items-center bg-[#2A2634] p-8 rounded-lg">
        <div class="text-left pb-8 w-full">
            <p class="font-black text-xl">Meus jogos</p>
            <p class="font-light ">Os jogos que mais gosto de jogar!</p>
        </div>
        <div class="grid grid-flow-col lg:flex overflow-x-scroll gap-6 snap-x  style-scroll">
            <div class="w-44 rounded-lg overflow-hidden"><img src="{{api[0].urlImage}}" alt=""></div>
            <div class="w-44 rounded-lg overflow-hidden"><img src="{{api[3].urlImage}}" alt=""></div>
            <div class="w-44 rounded-lg overflow-hidden"><img src="{{api[1].urlImage}}" alt=""></div>
        </div>
    </div>
    <span class="absolute w-8 h-8 rounded-full right-5 top-5 cursor-pointer hover:scale-110 p-1 shadow-sm shadow-black">
        <fa-icon class="text-violet-500 p-1" [icon]="faPen"></fa-icon>
    </span>
</div>

<div class="flex mt-8 rounded-xl nlw-grad pt-1 w-5/6 mx-auto relative">
    <div class="w-full flex-col items-center bg-[#2A2634] p-8 rounded-lg">
        <div class="text-left lg:pb-0 pb-8 w-full">
            <p class="font-black text-xl">Canais e streamers</p>
            <p class="font-light ">Lista de canais e transmissões que não perco!</p>
        </div>
        <div class="lg:pt-8 pt-0 lg:gap-8 gap-4 grid grid-flow-col lg:flex overflow-x-scroll snap-x  style-scroll">
            <div class="block text-center">
                <div class="w-20 rounded-full overflow-hidden mb-2">
                    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/e5e89aba-723b-4ba1-852c-d8fba19b1da1-profile_image-70x70.png" 
                         class="w-full" alt="">
                </div>
                <span class="font-semibold ">YoDa</span>
            </div>
            <div class="block text-center">
                <div class="w-20 rounded-full overflow-hidden mb-2">
                    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/fb16ce63-59c5-4a8f-8ec7-c1f017fe56b3-profile_image-70x70.png" 
                         class="w-full" alt="">
                </div>
                <span class="font-semibold ">Coreano</span>
            </div>
            <div class="block text-center">
                <div class="w-20 rounded-full overflow-hidden mb-2">
                    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/481114bb-2154-496a-81d9-715296bceda9-profile_image-70x70.png" 
                         class="w-full" alt="">
                </div>
                <span class="font-semibold ">TcK10</span>
            </div>
            <div class="block text-center">
                <div class="w-20 rounded-full overflow-hidden mb-2">
                    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/73ea473f-fd04-4669-93eb-af6db3cc5af4-profile_image-70x70.png" 
                         class="w-full" alt="">
                </div>
                <span class="font-semibold ">frttt</span>
            </div>
        </div>
    </div>
    <span class="absolute w-8 h-8 rounded-full right-5 top-5 cursor-pointer hover:scale-110 p-1 shadow-sm shadow-black">
        <fa-icon class="text-violet-500 p-1" [icon]="faPen"></fa-icon>
    </span>
</div>

<div class="flex mt-8 mb-8 rounded-xl nlw-grad pt-1 w-5/6 mx-auto relative">
    <div class="w-full flex-col items-center bg-[#2A2634] p-8 rounded-lg">
        <div class="text-left lg:pb-0 pb-8 w-full">
            <p class="font-black text-xl">Minhas redes</p>
            <p class="font-light ">Se conecte comigo agora mesmo!</p>
        </div>
        <div class="lg:pt-8 pt-0 flex gap-10 text-3xl">
            <fa-icon class="cursor-pointer text-purple-600" [icon]="faTwitch"></fa-icon>
            <fa-icon class="cursor-pointer text-blue-600" [icon]="faTwitter"></fa-icon>
            <fa-icon class="cursor-pointer text-pink-600" [icon]="faInstagram"></fa-icon>
            <fa-icon class="cursor-pointer text-red-600" [icon]="faYoutube"></fa-icon>
        </div>
    </div>
    <span class="absolute w-8 h-8 rounded-full right-5 top-5 cursor-pointer hover:scale-110 p-1 shadow-sm shadow-black">
        <fa-icon class="text-violet-500 p-1" [icon]="faPen"></fa-icon>
    </span>
</div>
