<section class="lg:flex block">
    <div class="lg:w-1/6 w-full mx-auto">
        <div class="lg:h-40 h-10 mb-8 lg:mb-0">
            <app-logo class="cursor-pointer" routerLink=""></app-logo>
        </div>
        <div *ngIf="api$ | async ; else loading" class="p-4 pt-8 flex justify-center">
            <img class="rounded-xl" src="{{idaux.urlImage}}" alt="">
        </div>
        <ng-template #loading>
            <div class="pt-24">
                <app-loading></app-loading>
            </div>
        </ng-template>
    </div>
    <div class="lg:w-5/6 w-full lg:pl-8">
        <div class="lg:h-40 h-32 flex flex-col lg:flex-row items-center lg:text-4xl text-2xl justify-center">
            <p class="font-black">Conecte ao seu duo de</p><span class="font-black  nlw-grad bg-clip-text text-transparent pl-2">{{ idaux.name }}</span>
        </div>
        <div class="w-full grid xl:grid-cols-3 lg:grid-cols-2 gap-5 p-5">
            <app-card-ad [ad]="userAd"></app-card-ad>
            <app-card-ad [ad]="userAd"></app-card-ad>
            <app-card-ad [ad]="userAd"></app-card-ad>
            <app-card-ad [ad]="userAd"></app-card-ad>
            <app-card-ad [ad]="userAd"></app-card-ad>
            <app-card-ad [ad]="userAd"></app-card-ad>
        </div>
    </div>
    
</section>