<section class="w-full text-center lg:py-20 py-12">
    <div class="lg:block hidden">
        <p class="font-black text-6xl pb-16">Seu <span class="nlw-grad bg-clip-text text-transparent">duo</span> está aqui.</p>
    </div>
    <div class="lg:hidden text-left px-8">
        <p class="font-black text-2xl">Encontre seu duo!</p>
        <p class="font-light text-base">Selecione o game que deseja jogar...</p>
    </div>
    <div *ngIf="api$ | async as api ; else loading" class="grid grid-flow-col overflow-x-scroll overflow-y-clip gap-6 snap-x  lg:px-5 px-8 style-scroll py-5">
        <app-card-main *ngFor="let game of api" 
                        urlImage="{{game.urlImage}}"
                        name="{{game.name}}"
                        ad={{game.ad}}
                        [routerLink]="['game' , game.ad]"
                        >
        </app-card-main>
    </div>

    <ng-template #loading>
        <div class="lg:mt-16 mt-5 py-5">
            <app-loading></app-loading>
        </div>
    </ng-template>

    <div class="flex mt-8 rounded-xl nlw-grad pt-1 lg:w-full w-5/6 mx-auto">
        <div class="w-full lg:flex lg:flex-row flex-col justify-between items-center bg-[#2A2634] p-8 rounded-lg">
            <div class="text-left lg:pb-0 pb-8">
                <p class="font-black text-xl">Não encontrou seu duo?</p>
                <p class="font-light ">Publique um anúncio para encontrar novos players!</p>
            </div>
            <button class="flex items-center bg-violet-500 hover:bg-violet-700 py-3 px-4 rounded-md gap-3 w-full lg:w-auto justify-center duration-500" (click)="openDialog()">
                <mat-icon aria-hidden="false" aria-label="Publicar anúncio" fontIcon="zoom_in"></mat-icon>
                Publicar anúncio
            </button>
        </div>
    </div>

</section>
